@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

*{
	margin: 0px;
	padding: 0px;
}

/* @media (max-aspect-ratio: 16/9) {
    .container {
      display: none;
    }
} */



body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  display:block;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

}
.box1{
    display: block;
    position: relative;

    text-align: center;
    width: 100%;
    ;
    /* height:50%; */

}

.box2{
  margin-top: -7vh;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 10vh;
height:auto;
}
#preloader{
  display: block;
  width:100vw;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  /* margin-top: 5vh;
  /* height:100vh;
  width:auto; */
  /* flex-flow: row wrap; */
}
.box3{
	/* text-align: center; */
	/* padding-left: 42vw; */
	/* padding-top:5vh; */
  margin-left: auto;
  margin-right: auto;
}
img{
	text-align: center;
  position:relative;
  width:30vw;
  /* width:50vw; */

}
@media only screen and (max-width: 650px) {
  img{

    width:50vw;
    /* width:50vw; */

  }
  .box1{
    margin-top: 20vh;
  }
  .container{
    width:30vw;
  }
}
.image{
  z-index: -999;
  position:relative;
  display: block;
  text-align: center;
  /* width:50vw; */
  margin-left: auto;
  margin-right: auto;
  height:auto;
	text-align: center;
}

/* for demo */
/* body{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  padding:0rem 1rem 2rem 1rem;
  box-sizing:border-box;
  overflow:hidden;
} */

/* LOADING TITTLE CSS */
.loading-text{
  /* margin-top: -8vh; */
	display: block;
  position: relative;
	margin: 0px, auto, 50px, auto;
	/* z-index:10000000; */
}
h1 {
  margin: 0;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  color: #a3e1f0;
}

span {
  position: relative;
  top: 0em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;

}

.let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}



/* coding-text-animation */

    .container{
			position: relative;
    	display: block;
    /* float: right; */
		margin-left: auto;
		margin-right: auto;
    font-family: 'Trebuchet MS', sans-serif;
    /* float: left; */
    background: #23223a;
    width: 15rem;
    border-radius: 5px;
    padding: 1.7rem;
    }
    .code{
        white-space: nowrap;
        font-size: 0.9rem;
        color: white;
    }
    .code .imas{
        font-size: 0.9rem;
        color: yellow;
        display: inline;
    }
    .c2{
        display: inline-block;
        margin-top: 5%;
    }
    .typed-out{
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin-top: 10%;
        font-size: 0.9rem;
        color: cyan;
        animation:
          typing 1.5s steps(20, end) forwards,
          blinking .75s infinite;
        width: 0;
    }
    @keyframes typing {
      from { width: 0 }
      to { width: 100%; }
    }
    @keyframes blinking {
      from { border-color: transparent }
      to { border-color: orange; }
    }

/* circle animaion */
.animation-container {
  display: block;
  position: relative;
  /* padding-top: 10vh; */
  width: 45%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;

}
.animation-container .lightning-container {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  transform: translateY(-50%);
}
.animation-container .lightning-container .lightning {
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  transform-origin: 6px 6px;
  animation-name: woosh;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-direction: alternate;
}
.animation-container .lightning-container .lightning.white {
  background-color: white;
  box-shadow: 0px 50px 50px 0px rgba(255, 255, 255, 0.3);
}
.animation-container .lightning-container .lightning.red {
  background-color: #fc7171;
  box-shadow: 0px 50px 50px 0px rgba(252, 113, 113, 0.3);
  animation-delay: 0.2s;
}
.animation-container .boom-container {
  position: absolute;
  display: flex;
  width: 80px;
  height: 80px;
  text-align: center;
  align-items: center;
  transform: translateY(-50%);
  left: 200px;
  top: -145px;
}
.animation-container .boom-container .shape {
  display: inline-block;
  position: relative;
  opacity: 0;
  transform-origin: center center;
}
.animation-container .boom-container .shape.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  transform-origin: 50% 80%;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  margin-left: -15px;
  border-width: 0 2.5px 5px 2.5px;
  border-color: transparent transparent #42e599 transparent;
  animation-name: boom-triangle;
}
.animation-container .boom-container .shape.triangle.big {
  margin-left: -25px;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #fade28 transparent;
  animation-name: boom-triangle-big;
}
.animation-container .boom-container .shape.disc {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #d15ff4;
  animation-name: boom-disc;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.animation-container .boom-container .shape.circle {
  width: 20px;
  height: 20px;
  animation-name: boom-circle;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  border-radius: 100%;
  margin-left: -30px;
}
.animation-container .boom-container .shape.circle.white {
  border: 1px solid white;
}
.animation-container .boom-container .shape.circle.big {
  width: 40px;
  height: 40px;
  margin-left: 0px;
}
.animation-container .boom-container .shape.circle.big.white {
  border: 2px solid white;
}
.animation-container .boom-container .shape:after {
  background-color: rgba(178, 215, 232, 0.2);
}
.animation-container .boom-container .shape.triangle, .animation-container .boom-container .shape.circle, .animation-container .boom-container .shape.circle.big, .animation-container .boom-container .shape.disc {
  animation-delay: 0.38s;
  animation-duration: 3s;
}
.animation-container .boom-container .shape.circle {
  animation-delay: 0.6s;
}
.animation-container .boom-container.second {
  left: 485px;
  top: 155px;
}
.animation-container .boom-container.second .shape.triangle, .animation-container .boom-container.second .shape.circle, .animation-container .boom-container.second .shape.circle.big, .animation-container .boom-container.second .shape.disc {
  animation-delay: 1.9s;
}
.animation-container .boom-container.second .shape.circle {
  animation-delay: 2.15s;
}
@keyframes woosh {
  0% {
    width: 12px;
    transform: translate(0px, 0px) rotate(-35deg);
 }
  15% {
    width: 50px;
 }
  30% {
    width: 12px;
    transform: translate(214px, -150px) rotate(-35deg);
 }
  30.1% {
    transform: translate(214px, -150px) rotate(46deg);
 }
  50% {
    width: 110px;
 }
  70% {
    width: 12px;
    transform: translate(500px, 150px) rotate(46deg);
 }
  70.1% {
    transform: translate(500px, 150px) rotate(-37deg);
 }
  85% {
    width: 50px;
 }
  100% {
    width: 12px;
    transform: translate(700px, 0) rotate(-37deg);
 }
}
@keyframes boom-circle {
  0% {
    opacity: 0;
 }
  5% {
    opacity: 1;
 }
  30% {
    opacity: 0;
    transform: scale(3);
 }
}
@keyframes boom-triangle-big {
  0% {
    opacity: 0;
 }
  5% {
    opacity: 1;
 }
  40% {
    opacity: 0;
    transform: scale(2.5) translate(50px, -50px) rotate(360deg);
 }
}
@keyframes boom-triangle {
  0% {
    opacity: 0;
 }
  5% {
    opacity: 1;
 }
  30% {
    opacity: 0;
    transform: scale(3) translate(20px, 40px) rotate(360deg);
 }
}
@keyframes boom-disc {
  0% {
    opacity: 0;
 }
  5% {
    opacity: 1;
 }
  40% {
    opacity: 0;
    transform: scale(2) translate(-70px, -30px);
 }
}

#content{
	display: none;
}
